* {
  box-sizing: border-box;
}

img{
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  background-color: rgb(23, 57, 129);
  padding: 40px 20px 10px 20px;
  color: white;
}

.col-lg-5 h1 span{
  color: white;
  background-color: #3D9BE9;
  font-weight: 900;
}

.col-lg-5{
  margin-top: 10px;
}

.banner h1:nth-child(1){
  color: #36B5CD;
}

.banner .row{
  margin-bottom: 20px;
}


.card {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  cursor: pointer;
}

.card-body p {
  font-size: 16px;
}

main {
  padding-top: 100px;
}

main li {
  margin-bottom: 10px;
}

.heading {
  text-align: center;
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}

.content-heading span {
  font-size: 30px;
  font-weight: 400;
}

.box{
  color: white;
}

.box .col{
  font-size: 15px;
  padding: 20px;
  margin-left: 6px;
  margin-bottom: 6px;
}

.box .col h4{
  font-size: 22px;
  margin-bottom: 10px;
}

.box .col ul{
  margin-left: 0px;
}

.box .col ul li{
  margin-bottom: 0px;
}

.box .col:nth-child(1){
  background-color: rgb(15,79,135);
}

.box .col:nth-child(2){
  background-color: #1777CB;
}

.box .col:nth-child(3){
  background-color: #7BABDC;
}

.box .col:nth-child(4){
  background-color: #6D6D6D;
}

.box .col:nth-child(5){
  background-color: #4B4B4B;
}

.card img {
  max-width: 100%;
}

.banner-img {
  width: 100%;
}

button {
  border: 1px solid black;
  padding: 8px 10px;
  background-color: transparent;
  color: black;
  border-radius: 50px;
  font-size: 15px;
}

main button:hover {
  background-color: black;
  color: white;
  transition: 500ms ease-in-out;
}

.display-info:nth-child(1) {
  background-color: black;
}

.display-info:nth-child(2) {
  background-color: rgb(104 104 104);
}

.display-info:nth-child(3) {
  background-color: rgb(237 237 237);
}

.display-info:nth-child(4) {
  background-color: rgb(61 155 233);
}

.portfolio-img {
  max-width: 100%;
}

footer {
  padding-top: 50px;
  background-color: rgba(137, 137, 255, 0.945);
  color: black;
}

.row1 .col:nth-child(1),
.row2 .col-lg-8:nth-child(1) {
  order: 2;
}

.row1 .col:nth-child(2),
.row2 .col-lg-4:nth-child(2) {
  order: 1;
}

@media screen and (max-width: 550px) {
  footer{
    width: 100%;
  }
  footer li{
    font-size: 15px;
  }
  .portfolio-img {
    min-width: 100%;
  }

  .row1 {
    display: block;
  }

  .row1 img {
    width: 40%;
  }

  .content-heading span {
    font-size: 22px;
  }

  .card{
    margin-bottom: 20px;
  }

  .banner h1{
    font-size: 22px;
  }

  .banner p{
    font-size: 13px;
  }

  .case-study{
    margin: 0px 10px;
  }

  .case-study .row ol{
    margin: 0px 10px;
  }
}

@media screen and (min-width: 550px) {
  .content-heading span div {
    display: none;
  }
}
