* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  background-color: rgb(23, 57, 129);
  padding: 30px 10px;
  color: white;
}

.card {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  cursor: pointer;
}

.card-body p {
  font-size: 16px;
}

main {
  padding-top: 100px;
}

main li {
  margin-bottom: 10px;
}

.heading {
  text-align: center;
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}


.content-heading span {
  font-size: 30px;
  font-weight: 400;
}

.card img {
  max-width: 100%;
}

.banner-img {
  width: 100%;
}

button {
  border: 1px solid black;
  padding: 8px 10px;
  background-color: transparent;
  color: black;
  border-radius: 50px;
  font-size: 15px;
}

main button:hover {
  background-color: black;
  color: white;
  transition: 500ms ease-in-out;
}

.display-info:nth-child(1) {
  background-color: black;
}

.display-info:nth-child(2) {
  background-color: rgb(104 104 104);
}

.display-info:nth-child(3) {
  background-color: rgb(237 237 237);
}

.display-info:nth-child(4) {
  background-color: rgb(61 155 233);
}


.portfolio-img {
  max-width: 100%;
}


footer{
  padding-top: 50px;
  background-color: rgba(137, 137, 255, 0.945); 
  color: black;
}

@media screen and (max-width: 550px){
  .portfolio-img {
    min-width: 100%;
  }

  .row1{
    display: block;
  }

  .row1 img{
    width: 40%;
  }
}